# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
spreadSource 
spreadSink
lightSource
lightSink
toSpread
tstLib
dbCache
redisListener
redisSender

# Packages
*.deb
*.opk
opkg-arm/*
debian-i386/*
# Doxygen
html/*
latex/*
# Misc
*.db
.connectToSpread.c.swp
*-swp
*.swp
spreadSink
spreadSource
*~
.kdev4
LightToSpread.kdev4
.gdb_history
.c9
Doc
localhost
spread_socket_bridge
spreadToMysql

spreadToMySQL
socket_spread_bridge
socketSpreadBridge

socketToMYSQL
