# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
spreadSource 
spreadSink

# Packages
*.deb
*.opk
opkg-arm/*
debian-i386/*
# Doxygen
html/*
latex/*
# Misc
.connectToSpread.c.swp
spreadSink
spreadSource
*~
.kdev4
LightToSpread.kdev4

