#
# Save Date:Sat Mar 15 17:52:16 2014
#
# Startup file.
# Comments MUST be at the start of a line.
# Any comments added will be lost.
#
^set GET_FORMAT $K
^set ADD_SENDER false
^set USER source
^set ADD_CR true
^set SET_FORMAT $K $V
^set CLIENT raw
^set APP_DIR /usr/local/etc/lightToSpread/App
^set DEFAULT_GROUP global
^lock DEFAULT_GROUP
^set SAVE_ALLOWED true
^set CMD_FORMAT log $K $V
^set SPREAD_SERVER 4803
^set INTERACTIVE false
^set GROUP POWER
^lock GROUP
^set TO_FORTH false
^set AUTOCONNECT true
^set ON_CONNECT 
^set EXIT_ALLOWED true
^set MODE local
