^set START_FILE ./tst.rc
^set SET_FMT %s %s
^set IGN_GLOBAL false
^set USER andrewh
^lock USER
^set OWN_MESSAGES false
^set ADD_CR false
^set CLIENT raw
^set ALTSERVER 4803@proliant
^set DEBUG false
^set SAVE_ALLOWED true
^set INTERACTIVE true
^set SHOW_SENDER false
^set DATABASE dbCache.db
^lock DATABASE
