^set SET_FMT %s %s
^set STALE_AFTER 600
^set SERVER 4803@picobob
^set IGN_GLOBAL false
^set DATABASE /var/tmp/andrewh.db
^set USER andrewh
^lock USER
^set OWN_MESSAGES false
^set ADD_CR false
^set CLIENT raw
^set ALTSERVER 4803@proliant
^set AUTOPURGE false
^set DEBUG false
^set COMMS_VARS false
^set PASSTHROUGH true
^set SAVE_ALLOWED true
^set EXIT_COMMAND true
^lock ON_CHANGE
^set INTERACTIVE true
^set GROUP global
^set CLEARDB true
^set SHOW_SENDER false
^set AUTOCONNECT false
^set REMOTE_CREATE false
^lock REMOTE_CREATE
